<!DOCTYPE html>
<html lang="en" ng-app="topSpots">

    <head>
        <meta charset="UTF-8">
        <title>AngularSpots</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    </head>

    <body ng-controller="PageController as vm">
        <div class="jumbotron">
            <div class="container">
                <h1>San Diego Top Spots</h1>
                <p>This project loads in entries from a json file to this table, and populates the map. This is written with AngularJS.</p>
            </div>
        </div>
        <div class="container">
            <ng-map id="map" map-type-control="false" zoom-to-include-markers="auto">
                <marker ng-repeat="spot in vm.spots" position="{{spot.location[0]}},{{spot.location[1]}}" data="{{spot.location[0]}}" animation="Animation.DROP" title="{{spot.name}}">
                </marker>
            </ng-map>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="spot in vm.spots">
                  <td>{{spot.name}}</td>
                  <td>{{spot.description}}</td>
                  <td class="vert-align"><a ng-href="https://www.google.com/maps/dir/Current+Location/{{spot.location[0]}},{{spot.location[1]}}" class="btn btn-primary btn-md">Directions</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyDJXtSaRqVDtxgWE4Dh0EqvOLEsdYf_qV0"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
        <script src="js/topSpots.module.js"></script>
        <script src="js/PageController.controller.js"></script>
        <script src="js/PageFactory.factory.js"></script>
    </body>

</html>
